.text_block {
	position: relative;
	display: flex;
	padding: 10px;
	margin: 5px; 
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

	.text_block_number,
	.text_block_content {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
	}

	.text_block_number {
		position: relative;
		font-size: 26px;
		font-weight: bolder;
		color: #fff;
		padding-top: 12px;
		left: -8px;
		z-index: 5;
		font-family: $fontBold;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 8px;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-color: $themeColorTwo;
			box-shadow: 0px 0px 16px rgba(231, 76, 60, 0.6);
			z-index: -1;
		}
	}

	.text_block_content {
		padding-left: 15px;
		font-size: 12px;
	}
}